<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sec="http://www.springframework.org/security/facelets/tags"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
</h:head>

<h:body>
    <div class="ui-g">
    <div class="ui-g-1"></div>
    <div class="ui-g-10">
        <h:form>
        <p:tabMenu activeIndex="#{param.i}">
            <p:menuitem value="Projects"  outcome="/faces/projectface.xhtml" >
                <f:param name="i" value="0" />
            </p:menuitem>
            <p:menuitem value="Tasks" outcome="/faces/taskface.xhtml" >
                <f:param name="i" value="1" />
            </p:menuitem>
            <p:menuitem rendered="#{p:ifGranted('ROLE_ADMIN')}" value="Users" outcome="/faces/userface.xhtml" >
                <f:param name="i" value="2" />
            </p:menuitem>
            <p:menuitem value="Log-out" url="/logout">
            </p:menuitem>
        </p:tabMenu>
        </h:form>
    </div>
        <div class="ui-g-1"></div>
    </div>
</h:body>
</html>