<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
    <title>Login</title>
    <style>
        body {
  background-color: #E0E0E0;
}

.ui-widget-content {
  background-color: #E0E0E0;
}

h2 {
  margin-bottom: 10px
}

.center {
  margin: 0 auto;
}

.red {
  color: #F44336;
}
    </style>
</h:head>

<h:body>

    <h:form id="form">
            <p:panelGrid  columns="1" styleClass="ui-fluid center ui-noborder">
                <h2>Register</h2>

                <h:outputText value="Login:" />
                <p:inputText value="#{auth.userDTO.login}" label="login" />

                <h:outputText value="Password:" />
                <p:password value="#{auth.userDTO.passwordHash}" label="password"/>

                <h:outputText value="Name:" />
                <p:inputText value="#{auth.userDTO.name}" label="name" />
                <p:commandButton value="Save" ajax="false" action="#{auth.reg()}"  />
            </p:panelGrid>
    </h:form>

</h:body>
</html>